################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Memory Pool/Debug
/Memory Pool/Release
/.vs/Memory Pool/v15
/Debug
/Release
